doctype html
html
    head
        meta(name='keywords', content='Wickham, HTML, CSS')
        meta(name='description', content='HTML and CSS Tutorial with examples')
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
        title #{kitID} detail
        //if ie
          style(type='text/css').
            html { scrollbar-face-color: #ccccc2; scrollbar-shadow-color: #ccccc2; scrollbar-highlight-color: #ccccc2; scrollbar-3dlight-color: #ccccc2; scrollbar-darkshadow-color: #ccccc2; scrollbar-track-color: #e9e9e2; scrollbar-arrow-color: #e9e9e2; }
        style(type='text/css', media='all').
            canvas {
                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }

            /* set a left margin to compensate for IE/Win always making room for a scrollbar */
            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            /* set a left margin to compensate for IE/Win always making room for a scrollbar */
            div#middlewrap {
                width: 100%;
                padding-bottom: 50px;
                height: 100%;
                min-height: 700px;
            }
            /* set left margin for modern browsers */
            body>div#middlewrap {
                margin-left:0;
            }
            div#middle {
                width:100%;
                margin:0 auto;
                height: 100%
            }
            /* no positioning for IE5/Win - the whole page scrolls */
            div#footerwrap {
                width:100%;
                position:absolute;
                bottom:0;
                left:0;
                height:50px;

            }
            body>div#footerwrap {
                position:fixed;
            }
            div#footer {
                height:50px;
                width:720px;
                margin:0 auto;
            }
            #bottomNav a {
                font-size: 12pt;
                color: #ddd;
                text-decoration: none;
            }

            #bottomNav a:hover {
                color: #fff;
            }
            #bottomNav {
                background: #000;
            }

            #bottomNav > .active {
                background: #888888;
            }
        //if ie 6
          link(rel='stylesheet', href='ie6bereastreet.css', type='text/css')
    body
        #middlewrap.container
            #myChart.row
                #headChart.col-xs-12.col-sm-12.col-lg-12.row
                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                        i#lastUpdate(style='margin-top:100px; opacity: 0.35; font-size:12px;')
                    #titleChart.col-xs-12.col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
                        span#title(style='color: blue;font-size:24px;font-weight:bold;')
                    #infoNode.col-xs-12.col-sm-12.col-md-6.col-lg-6.text-center
                    div.col-xs-12.col-sm-12.col-md-6.col-lg-6.text-center
                        img#iconFeeling
                        i#advice
                #bodyChart(style='clear:right;').col-xs-12.col-sm-12.col-md-12.row
                    canvas#pm25.col-xs-10.col-xs-offset-1.col-sm-12.col-md-12.col-lg-12
                    canvas#temp.col-xs-10.col-xs-offset-1.col-sm-12.col-md-6.col-lg-6
                    canvas#hud.col-xs-10.col-xs-offset-1.col-sm-12.col-md-6.col-lg-6
        #footerwrap
            #footer
                .col-xs-12.navbar-inverse.navbar-fixed-bottom
                    #bottomNav.row
                        a(href='../mobile').col-xs-4.text-center
                            i.glyphicon.glyphicon-home
                            br
                            | Home
                        a(href='../list').col-xs-4.text-center.active
                            i.glyphicon.glyphicon-list
                            br
                            | List Kit
                        a(href='../add').col-xs-4.text-center
                            i.glyphicon.glyphicon-plus
                            br
                            | Add Kit
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")
        script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js")
        script(src="../js/drawChart.js")
        script(src="../js/main.js")
        script.
          // A $( document ).ready() block.
          $(document).ready(function () {
            console.log("ready!");
            getAnalysisKitID("#{kitID}");
          });
