<template name="navbar">
    <div id="navbar" class="col-xs-12 nopadding">
        <div id="close-menu" class="show-mobile"><span class="fui-cross"></span></div>
        <nav class="navbar" role="navigation">
            <!--<div class="navbar-header">-->
                <!--<button type = "button" class = "navbar-toggle nopadding"-->
                        <!--data-toggle = "collapse" data-target = "#example-navbar-collapse">-->
                    <!--<span class="fui-list"></span>-->
                <!--</button>-->
                <!--<a class="navbar-brand" href="#">FAir Web</a>-->
            <!--</div>-->
            <div class = "" id = "">
                <ul class="nav navbar-nav">
                    <li class="/"><a href="/">Home</a></li>
                    <li class="active"><a href="#">about</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/#">Sign In/Register</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="btn-mobile">
        <div class="input-group input-group-lg">
              <span class="input-group-btn">
                <button type="button" class="btn" id="open-menu"><span class="fui-list"></span></button>
                <button type="button" class="btn" id="btn-kit-search"><span class="fui-search"></span></button>
              </span>
            <input type="text" class="form-control input-lg" placeholder="Search" id="search-query-2">
        </div>
    </div>
</template>
